body{
    background:  #f0f0f5;
}


.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #fce7d4;
 }

 .resize {
     height: 200px;
     width: 150px;
 }

 .img{
     width: 200px;
     height: auto;
 }

 .prev_img{
     width:auto;
     height:150px;
 }

.prev{

}
a{
    cursor: pointer;
}

.delete-btn{
    position:absolute;
    left:0px;
    top:0px;
}


hr{
    border-color: #f47142;
}


.form-zone{

}

.footer{
    background:white;
}

.inline {
    display:inline-block;
}

.robes-stats{
    padding-bottom: 20px;
}

.model-control{
    padding: 0;
    border: none;
    background: none;
    margin-right:5px;
    color:currentColor;
    text-decoration: none;
}

.model-control :hover{
    color: orange;
}

/* Robe */

.robe-preview{
    height:400px;
}

.preview-control{
    border:1px solid black;
}


.robe-control{
    position:absolute;
}

.J{
    color:red;
}

.S{
    color:green;
}

.btn-control{
    width:30px;
    height:25px;
    marign-bottom: 5px;
}

.right-control{
    right:30px;
    display:inline-block;
    width:20px
}

.left-control{
    left:30;
    display:inline-block;
    width:20px
}

.state-btn{
    border:1px solid black;
    background:white;
}


/*# sourceMappingURL=all.css.map */
